/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply lg:max-w-screen-lg mx-auto px-5 xl:px-0 pt-16;
}

.cta-btn {
    @apply bg-bleu-primaire hover:bg-bleu-light transition duration-500 text-gray-dark font-bold px-5 py-4 rounded-lg uppercase tracking-wide my-12;
}